<body class="">
    <p id="notice"></p>
   <h1>Books</h1>
   
   <table>
     <thead>
    <tr>
     <th>Title</th>
     <th>Body</th>
     <th colspan="3"></th>
    </tr>
   </thead>
   <tbody>
     
    


    
     
    
   <span>
  <% @book.each do |book| %>
  <tr>
    <td><%= link_to book.title, books_path{book.id} %></td>
    <td><%= link_to book.body, books_path{book.id} %></td>
    
    <td><%= link_to "show", book_path(book.id) %></td>
    <td><%= link_to "edit", edit_book_path(book.id) %></td>
    <td><%= link_to "delete", book_path(book), method: :delete %></td>
    <% end %>
    </span> 
  </tr>
  </tbody>
   </table>
  <h2>New book</h2>

  <%= form_with model: @book, url:'/books', local:true do |f| %>
  <form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post">
    <input name="utf8" type="hidden" value="✓">
    <input type="hidden" name="authenticity_token"
     value="B1LuKHoueOz4jKCrEARi/kOx1m/GKpemnsyfO7pX+jRhUBMg23XddbYoG1sjMLqwteYjLJzO7cNdTmhxwlVtyQ==">

     <div class="field">
      <label for="book_title">Title</label>
      <%= f.text_field :title %>
    </div>
  
    <div class="field">
      <label for="book_body">Body</label>
      <%= f.text_area :body %>
    </div>
  
    <div class="actions">
      <input type="submit" name="commit" value="Create Book" data-disable-with= <%= f.submit 'Create Book' %>
    </div>
    <% end %>
   
  </form>

    
  </body>